---
import Corner from '../../../../design/corner.html';
---

<style is:global>
	.my-element {
		--corner-primary-color: var(--color-primary);
		--corner-size: 50vh;
		--corner-offset: 50%;
	}
</style>

<div class="my-element">
	<Corner />
</div>
