<h2 class="b-container-fill-text">
	<span class="b-container-fill-text__container">
		<span class="b-container-fill-text__display">
			<slot />
		</span>
	</span>
	<span class="b-container-fill-text__reference" aria-hidden="true"
		><slot /></span
	>
</h2>
